<%# cssは下記のものを併用しています。
app/assets/stylesheets/jobs/form.css %>

<%= render "shared/header" %>

<%= form_with model: @user, url: "/users", class: "wrapper-form-body", local: true do |f| %>


  <div class="wrapper-form">
    <div class="tittle-bar">
      <h2 class="form-tittle">新規登録</h2>
    </div>

      <div class="text-field">
        <label class="text-field-label">ニックネーム</label>
        <%= f.text_area :nickname, class: "text-field-input", placeholder: "必須", autofocus: true %>
      </div>
      <div class="text-field">
        <label class="text-field-label">メールアドレス</label>
        <%= f.email_field :email, class: "text-field-input", placeholder: "必須" %>
      </div>
      <div class="text-field">
        <label class="text-field-label">パスワード</label>
        <%= f.password_field :password, class: "text-field-input", placeholder: "必須" %>
      </div>
      <div class="text-field">
        <label class="text-field-label">パスワード(確認)</label>
        <%= f.password_field :password_comfirmation, class: "text-field-input", placeholder: "必須" %>
      </div>
      <div class="text-field">
        <label class="text-field-label">電話番号
        <span class="notice">※ハイフンなしで記載してください</span>
        </label>
        <%= f.text_area :tel, class: "text-field-input", placeholder: "必須", maxlength: "11" %>
      </div>

      <%= f.submit "登録する" ,class:"text-field-btn" %>
  </div>
<% end %>

<%= render "shared/footer" %>
