<%= render "shared/header" %>


<div class="wrapper-detail-jobs">
  <div class="wrapper-detail-board-tittle">
    <p class="works-detail-tittle"><%= @work.type.name %></p>
  </div>
  
  <div class="works-detail">
    <div class="work-detail-tittle"><%= @work.name %></div>
    <div class="work-detail-user-name"><%= @work.user.nickname %></div>
    <div class="work-detail-wrap">
      <p class="work-detail-key">場所</p>
      <p class="work-detail-value"><%= @work.place %></p>
    </div>
    <div class="work-detail-wrap">
      <p class="work-detail-key">ジャンル</p>
      <p class="work-detail-value"><%= @work.genre.name %></p>
    </div>
    <div class="work-detail-wrap">
      <p class="work-detail-key">日時</p>
      <p class="work-detail-value">
      <%= @work.start_time.strftime("%Y/%m/%d") %>  <%= @work.start_time.strftime("%H:%M") %>〜<%= @work.end_time.strftime("%H:%M")%>
      </p>
    </div>
    <div class="work-detail-wrap">
      <p class="work-detail-key">説明</p>
      <p class="work-detail-value"><%= @work.description %></p>
    </div>
    <% if user_signed_in? && current_user.id == @work.user_id %>
      <div class="work-edit-wrap">
        <%= link_to "投稿を編集する", edit_work_path, class: "work-edit-btn" %>
      </div>
    <% end %>

    <div class="wrapper-comments">
      <p class="comment-heading">コメント</p>

      <div class="comments-list">
        <div class="wrapper-comment">
          <div class="comment-left">
            <div class="comment-upper">
              <p class="comment-user-name">test</p>
              <p class="comment-create-time">2020/12/11 11:11</p>
            </div>
            <div class="comment-text">私、手伝います！</div>
          </div>
          <div class="comment-right">
            <div class="comment-delete-btn">削除する</div>
          </div>
        </div>
      </div>

      <div class="comments-list">
        <div class="wrapper-comment">
          <div class="comment-left">
            <div class="comment-upper">
              <p class="comment-user-name">momo</p>
              <p class="comment-create-time">2020/12/11 12:11</p>
            </div>
            <div class="comment-text">私、少しなら手伝えます！</div>
          </div>
          <div class="comment-right">
            <div class="comment-delete-btn">削除する</div>
          </div>
        </div>
      </div>

      <textarea class="comment-input-text"></textarea>
      <button type="submit" class="comment-btn">コメントする</button>
    </div>
  </div>
</div>

<%= render "shared/footer" %>