<%= render "shared/header" %>


<div class="my-page-body">
  <div class="my-page-main">
    <div class="my-page-tittle"><%= @user %>のマイページ</div>
    
    <div class="my-page-list-body">
      <div class="my-page-list-left">
        <div class="wrapper-my-page-chat-lists-tittle">
          <div class="my-page-chat-lists-tittle">やりとり中のチャット</div>
        </div>
        <% if @chat %>
        <% @chat.each do |chat| %>
          <div class="my-page-chat-lists-body">
          <%= link_to "/works/#{chat.work_id}/chats/#{chat.id}", class: "my-page-chat-link" do %>
            <div class="my-page-chat-list-left">
              <div class="my-page-chat-list">
                <div class="my-page-chat-list-tittle"><%= chat.work.name %></div>
                <div class="my-page-chat-list-date-time">
                日時: <%= chat.work.start_time.strftime("%Y/%m/%d") %>  <%= chat.work.start_time.strftime("%H:%M") %>〜<%= chat.work.end_time.strftime("%H:%M")%>
                </div>
                <div class="my-page-chat-list-user-name">チャットの相手 : <%= chat.user.nickname %></div>
              </div>
            </div>
            <% end %>
            <div class="my-page-chat-list-right">
              <%= link_to raw("チャットを<br>削除する"),  %>
              <div class="my-page-chat-delete">チャットを<br>削除する</div>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="posts-body">
            <p class="post-null">現在投稿がありません。。</p>
          </div>
        <% end %>
      </div>

      <div class="my-page-list-right">
        <div class="wrapper-my-page-work-lists-tittle">
          <div class="my-page-work-lists-tittle">投稿一覧</div>
        </div>
        <% if @work %>
          <% @work.each do |work| %>
          <div class="my-page-work-lists-body">
          <%= link_to "/works/#{work.id}", class: "my-page-work-link" do %>
            <div class="my-page-work-list">
              <div class="my-page-work-list-tittle"><%= work.name %></div>
              <div class="my-page-work-list-date-time">
              日時: <%= work.start_time.strftime("%Y/%m/%d") %>  <%= work.start_time.strftime("%H:%M") %>〜<%= work.end_time.strftime("%H:%M")%>
              </div>
            </div>
            <% end %>
            <div class="my-page-work-delete-body">
              <div class="my-page-work-delete">投稿を<br>削除する</div>
            </div>
          </div>
          <% end %>
        <% else %>
          <div class="posts-body">
            <p class="post-null">現在投稿がありません。。</p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>