<%= render "shared/header" %>

<div class="wrapper-chat">
  <% if flash[:notice] %>
    <div class="matching-notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="wrapper-chat-tittle">
    <div class="chat-tittle-left">
      <div class="chat-tittle"><%= @work.name %></div>
      <div class="chat-join-users"><%= @work.user.nickname %> と <%= @chat.user.nickname %></div>
      <% if @chat.check %>
        <div class="chat-matching">マッチング !!</div>
      <% end %>
    </div>
    <div class="chat-tittle-right">
    <% if current_user.id == @work.user_id %>
      <%= link_to raw("マッチング !"), work_chat_path(@work.id, @chat.id), method: :patch, class: "matching-btn" %>
    <% end %>
      <%= link_to raw("チャットを<br>削除する"), work_chat_path(@work.id, @chat.id), method: :delete, class: "chat-delete-btn" %>
    </div>
  </div>
    
  <div class="chat-main", id="scroll-inner">
  <% if @messages %>
    <% @messages.each do |message| %>
      <div class="chat-message">
        <div class="message-upper">
          <div class="message-user-name"><%= message.user.nickname %></div>
          <div class="message-date-time">
            <%= message.created_at.strftime("%Y-%m-%d  %H:%M") %>
          </div>
        </div>
        <div class="message-text"><%= message.content %></div>
      </div>
    <% end %>
  <% end %>
  
  </div>

  <div class="wrapper-chat-input">
    <%= form_with model: [@work, @chat, @message], local: true do |f|%>
      <%= f.text_field :content, autofocus: true, class: "message-input" %>
      <%= f.submit "送信", class: "message-submit" %>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>